body {
  background-image: url("https://i.ibb.co/1bVFMHQ/bg.png");
}

.box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.atria-logo {
  width: 13%;
  margin-left: 1rem;
  /* margin-top: 1rem;

  padding-top: 0; */
}

.aws-logo {
  width: 20%;
  margin-left: 2rem;
  /*
  margin-top: 1rem; */
}

.code-logo {
  width: 20%;
  margin-left: 2rem;
  background-color: white;
  /* margin-top: 0;
   */
}

.rac-logo {
  width: 23%;
  margin-left: 1rem;
  background-color: #eee;
  /* margin-left: 0; */
}

.cse-logo {
  width: 12%;
  margin-left: 0.8rem;
  /* margin-left: 1rem;
  margin-top: 1rem; */
}
.ieee-logo {
  width: 25%;
  margin-top: 2rem;
  background-color: #eee;
}

.section-2 {
  text-align: center;
}

.heading-1 {
  padding-top: 3rem;
  color: white;
  font-size: 3rem;
}

.heading-2 {
  color: white;
  font-size: 3rem;
}

.heading-3 {
  color: #fecd1a;
  margin-right: 18rem;
  margin-bottom: 0;
  padding-top: 3rem;
  font-size: 3rem;
  /*
  padding-bottom: 0; */
}

.hackathon {
  font-family: "Anton", sans-serif;
  font-size: 7.5rem;
  margin-top: 0;
  padding-top: 0;
  color: #fecd1a;
  line-height: 1;
  margin-bottom: 0;
}

.date {
  padding: 0;
  line-height: 0.7;
  margin: 0;
  color: white;
  font-size: 3rem;
}

.section-3 {
  padding: 3rem;
  text-align: center;
}

.register {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: serif;
  padding: 2.5rem 7rem 2.5rem 7rem;
  font-size: 2rem;
}

.register:hover {
  background-color: #ffc85c;
}

.section-4 {
  text-align: center;
  color: #eeeeee;
  font-family: serif;
}

.heading1-sec4 {
  color: #fecd1a;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.heading2-sec4 {
  color: #f8f1f1;
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  color: #aee6e6;
  font-size: 1.5rem;
  font-size: 2.5rem;
}

.heading3-sec4 {
  color: #f8f1f1;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.entry-fee {
  color: #fecd1a;
  font-size: 3rem;
}

.win {
  color: #ebcfc4;
}

.co-ordinators {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* font-size: 3rem; */
}

.coordinator-heading {
  font-size: 3rem;
}

.student-coordinator {
  color: #eeeeee;
  padding: 0;
  margin-bottom: 2.5rem;
  /* font-size: 3rem; */
}

.faculty-coordinator {
  color: #eeeeee;
  padding: 0;
  /* font-size: 3rem; */
}

.coordinator-para {
  margin-bottom: 0;
  color: #aee6e6;
  font-size: 3rem;
}

.hemalatha-email {
  color: #fff8c1;
}
.hemalatha-email:hover {
  color: #ffc85c;
}
.queries {
  text-align: center;
  font-family: serif;
}

.queries-h2 {
  color: #eeeeee;
  font-size: 3rem;
}

.pramodbn {
  margin-bottom: 0;
  font-size: 3rem;
  color: #aee6e6;
}

.phone-span {
  color: #eeeeee;
  font-size: 3rem;
}

.phone {
  margin-bottom: 0;
  color: #fff8c1;
}

.email-span {
  color: #eeeeee;
  font-size: 3rem;
}

.email {
  color: #fff8c1;
  font-size: 3rem;
}

.phone-p {
  margin-bottom: 0;
  font-size: 3rem;
}
.mentors {
  text-align: center;
}
.mentors-h2 {
  font-size: 3rem;
  color: #eee
}
.ashwini-pic {
  width: 75%;
  height: 19rem;
  margin-bottom: 1rem;
}
.samarth-pic {
  height: 19rem;
  margin-bottom: 1rem;
}
.moinam-pic {
  height: 19rem;
  margin-bottom: 1rem;
}
.nikhil-pic {
  height: 19rem;
  margin-bottom: 1rem;
}
.set-1 {
  margin: 3rem 0 5rem 0;
}
.set-2 {
  margin: 3rem 0 5rem 0;
}
.organizers {
  text-align: center;
}
.cse-hod-pic {
  height: 19rem;
  margin-bottom: 1rem;
}
.hemalatha-pic {
  width: 60%;
  height: 19rem;
  margin-bottom: 1rem;
}
.organizers-h2 {
  font-size: 3rem;
  color: #eee
}
.pramod-pic {
  width: 70%;
  height: 19rem;
}
.adithya-pic {
  height: 19rem;
}
